*{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --BODYIMG: url(../img/5-blur.jpg);
    --BGIMG: url(../img/body_bg.png);
}

#site-header {
    display: flex;
    width: 100%;
    height: 60px;
    background: var(--BGIMG);
    border-bottom: 2px solid #000000;
    justify-content: center;
    flex-wrap: wrap;
}

#BG {
    width: 100%;
    height: auto;
}

#logo {
    position: absolute;
    top: -30px;
    height: 125px;
    width: 125px;
}

body {
    height: 100%;
}

.body-div {
    display: flex;
    flex-wrap: wrap;
    padding: 55% 0px 55% 0px;
    justify-content: center;
    background: var(--BODYIMG) no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    background-image: var(--BGIMG);
    background-blend-mode: difference;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 38px;
}

.container-head {
    display: flex;
    padding: 5px 5px 15px 5px;
    width: 500px;
    height: 15%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pokeball {
    padding: 5px;
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}


h1{
    margin-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.line { 
    box-sizing: border-box;
    margin: 0px 0px 15px 5%;
    width: 90%;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

.input-div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;   
    margin-bottom: 145px; 
    gap: 10px;
}

h2{
    margin-right: 2%;
    text-wrap: nowrap;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    color: #000000;
}

#name {
    width: 90%;
    height: 3.5rem;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #000000;
    border-radius: 61px;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#name::placeholder{
    color:black;
    opacity: 25%;
    font-size: 25px;
    text-align: center;
    
}



.search-div{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    border: none;
    width: 100%;
    height: 120px;
    cursor: pointer;
    background-image: var(--BGIMG);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 0px 0px 38px 38px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.button-content {
    display: flex;
    flex-wrap: wrap;
}

.search-div p {
    display: none;
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 112px;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button img, button:active img{
    width: 100px;
    height: 100px;
}

button:hover > p, button:focus > p {
    top: -7px;
    font-size: 80px;
}

button:hover > #icon, button:focus > #icon{
    scale: 110%;
}

#site-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: var(--BGIMG);
}

.socials{
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

#ttv, #ig, #x, .socials a{
    width: 50px;
    height: 50px;
}

footer p{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 5px;
    color: whitesmoke;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}



@media screen and (min-width: 375px) {
    .container {
        width: 75%;
    }
    .body-div {
        padding: 42% 0px 42% 0px;
    }
}

@media screen and (min-width: 425px) {
    .container {
        width: 50%;
    }

    .body-div {
        padding: 38% 0px 38% 0px;
    }
    
    .container-head {
        padding: 5px 5px 5px 5px;
        width: 100%;
        height: 15%;
    }
    
    #pokeball {
        padding: 5px;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    
    h1{
        font-size: 30px;
    }
    
    .line   { 
        margin: 0px 0px 25px 5%;
        width: 90%;
        height: 12px;
    }
    
    .input-div {
        width: 100%;
        margin-bottom: 155px; 
        gap: 15px;
    }
    
    h2{
        margin-right: 2%;
        font-size: 15px;
    }

    .search-div p {
        margin-right: 20px;
        font-size: 75px;
        line-height: 112px;
    }

    #name {
        width: 90%;
        height: 2rem;
        font-size: 25px;
    }
    
    #name::placeholder{
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 50%;
    }

    .body-div {
        padding: 38% 0px 38% 0px;
    }
    
    .container-head {
        gap: 3%;
        padding: 5px 5px 40px 5px;
        width: 100%;
        height: 15%;
    }
    
    #pokeball {
        padding: 5px;
        width: 7rem;
        height: 7rem;
    }
    
    
    h1{
        font-size: 50px;
    }
    
    .line { 
        margin: 0px 0px 15px 5%;
        width: 90%;
        height: 15px;
    }
    
    .input-div {
        width: 100%;
        margin-bottom: 160px; 
        margin-top: 2%; 
        gap: 15px;
    }
    
    h2{
        margin-right: 2%;
        font-size: 30px;
    }

    .search-div p {
        display: flex;
        margin-right: 20px;
        font-size: 75px;
        line-height: 112px;
    }

    #name {
        width: 90%;
        height: 3.5rem;
        font-size: 35px;
    }
    
    #name::placeholder{
        font-size: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
    }

    .body-div {
        padding: 38% 0px 38% 0px;
    }
    
    .container-head {
        padding: 5px 5px 40px 5px;
        width: 100%;
        height: 15%;
        gap: 2%;
    }
    
    #pokeball {
        padding: 5px;
        width: 7rem;
        height: 7rem;
    }
    
    
    h1{
        font-size: 75px;
    }
    
    .line { 
        margin: 0px 0px 15px 5%;
        width: 90%;
        height: 15px;
    }
    
    .input-div {
        width: 100%;
        margin-bottom: 175px; 
        margin-top: 2%; 
        gap: 30px;
    }
    
    h2{
        margin-right: 2%;
        font-size: 35px;
    }

    .search-div p {
        display: flex;
        margin-right: 20px;
        font-size: 75px;
        line-height: 112px;
    }

    #name {
        width: 90%;
        height: 3.5rem;
        font-size: 35px;
    }
    
    #name::placeholder{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 45%;
    }

    .body-div {
        padding: 20% 0px 20% 0px;
    }
    
    .container-head {
        padding: 7px 5px 40px 7px;
        width: 100%;
        height: 15%;
        gap: 1px;
    }
    
    #pokeball {
        padding: 5px;
        width: 7rem;
        height: 7rem;
    }
    
    
    h1{
        font-size: 86px;
    }
    
    .line { 
        margin: 0px 0px 15px 5%;
        width: 90%;
        height: 15px;
    }
    
    .input-div {
        width: 100%;
        margin-bottom: 175px; 
        margin-top: 2%; 
        gap: 30px;
    }
    
    h2{
        margin-right: 2%;
        font-size: 45px;
    }

    .search-div p {
        display: flex;
        margin-right: 20px;
        font-size: 75px;
        line-height: 112px;
    }

    #name {
        width: 90%;
        height: 4.5rem;
        font-size: 35px;
    }
    
    #name::placeholder{
        font-size: 35px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 30%;
    }

    .body-div {
        padding: 20% 0px 20% 0px;
    }
    
    .container-head {
        padding: 7px 5px 40px 7px;
        width: 100%;
        height: 15%;
        gap: 1px;
    }
    
    #pokeball {
        padding: 5px;
        width: 7rem;
        height: 7rem;
    }
    
    
    h1{
        font-size: 63px;
    }
    
    .line { 
        margin: 0px 0px 15px 5%;
        width: 90%;
        height: 15px;
    }
    
    .input-div {
        width: 100%;
        margin-bottom: 175px; 
        margin-top: 2%; 
        gap: 30px;
    }
    
    h2{
        margin-right: 2%;
        font-size: 35px;
    }

    .search-div p {
        display: flex;
        margin-right: 20px;
        font-size: 75px;
        line-height: 112px;
    }

    #name {
        width: 90%;
        height: 4.5rem;
        font-size: 35px;
    }
    
    #name::placeholder{
        font-size: 35px;
    }
}