*{
    font-family: "Poppins",sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-position-y: 60px;
    background-size: cover;
    background: url(../img/Pokedex_bg.png);
    display: block;
    height: 1080;
    width: 1920;
}

.hidden{
    position: absolute;
    left:-10000px;
}

body #pokemonName {
    transform: skew(10deg,10deg);
    rotate: -10deg;
    position: absolute;
    top: -15px;
    left: 395px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 112px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body #pokemonId {
    transform: skew(10deg,10deg);
    rotate: -10deg;
    position: absolute;
    top: -15px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 112px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ball{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 47%;
    rotate: 20deg;
    top: -5px;
}
#logo{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 70%;
    top: -35px;
}

.basic-info {
    overflow: hidden;
    position: absolute;
    transform: skew(-10deg,-10deg);
    rotate: 10deg;
    top: 15px;
    left: 50px;
    width: 1820px;
    height: 80px;
    background: url(../img/body_bg.png);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.pokeImage{
    position: absolute;
    width: 700px;
    height: 650px;
    top: 150px;
    left: 35px;
}

/* ______________________|| ABOUT ||___________________________________________________ */

.about{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
    width: 750px;
    height: 750px;
    left: 1030px;
    top: 150px;
    background: rgba(0, 0, 0, 0.384);
    filter: drop-shadorgb(160, 160, 160)px 4px rgba(0, 0, 0, 0.5);
    border-radius: 38px;
}

#pokeType{
    position: relative;
    top: 50px;
    left: 75px;
    width: 550px;
    height: 75px;
    background: white;
    border-radius: 6px;
}


#div-type{
    z-index: 0;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 75px;
    background: #dcdbd7;
    border-radius: 6px 0px 0px 6px;
}

#type {
    position: absolute;
    top: 1px;
    left: 50px;
    z-index: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: #000000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#type-value {
    text-transform: capitalize;
    position: absolute;
    top: -8px;
    left: 265px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* ______________________|| WEIGHT / HEIGHT ||___________________________________________________ */

#pokeW {
    position: absolute;
    top: 175px;
    left: 15px;
    width: 350px;
    height: 75px;
    background: white;
    border-radius: 6px;
}

#pokeH {
    position: absolute;
    top: 175px;
    left: 375px;
    width: 350px;
    height: 75px;
    background: white;
    border-radius: 6px;
}

#div-W{
    z-index: 0;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 75px;
    background: #dcdbd7;
    border-radius: 6px 0px 0px 6px;
}

#div-H {
    z-index: 0;
    top: 0%;
    left: 0%;
    width: 100px;
    height: 75px;
    background: #dcdbd7;
    border-radius: 6px 0px 0px 6px;
}


#w, #h {
    position: relative;
    top: 20px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #000000;
}

#w-value, #h-value{
    top: 22px;
    left: 190px;
    position: absolute;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 555;
    font-size: 22px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* ______________________|| ABILITIES ||___________________________________________________ */

.line1 { 
    box-sizing: border-box;
    position: relative;
    width: 650px;
    height: 7px;
    left: 50px;
    top: 200px;
    background: #FFFFFF;
    border: 2px solid #000000;
}
.line2 { 
    box-sizing: border-box;
    position: relative;
    width: 650px;
    height: 7px;
    left: 40px;
    top: 185px;
    background: #FFFFFF;
    border: 2px solid #000000;
}

.abilities {
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: absolute;
    width: 710px;
    height: 165px;
    left: 1045px;
    top: 450px;
    background: rgba(0, 0, 0, 0.384);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 38px;
}

#ability-head {
    position: absolute;
    border: none;
    position: absolute;
    width: 710px;
    height: 55px;
    background-color: azure;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    justify-content: space-evenly;
}

#ab {
    position: relative;
    top: 5px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 10px;
    color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(105, 105, 105);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

#ab-value {
    overflow: hidden;
    text-transform: capitalize;
    position: absolute;
    padding-left: 110px;
    padding-right: 15px;
    padding-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ______________________|| STATS ||___________________________________________________ */

.stats {
    position: absolute;
    z-index: 0;
    width: 710px;
    height: 225px;
    left: 1045px;
    top: 660px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 38px;
}

#hp-icon, #atk-icon, #Satk-icon, #def-icon, #Sdef-icon, #sp-icon {
    position: absolute;
    width: 75px;
    height: 75px;
}

#hp-icon{
    top: 7px;
    left: 20px;
}

#atk-icon{
    width: 65px;
    height: 65px;
    top: 12px;
    left: 270px;
}

#Satk-icon{
    top: 7px;
    left: 510px;
}

#sp-icon{
    top: 135px;
    left: 20px;
}

#def-icon{
    top: 135px;
    left: 262px;
}

#Sdef-icon{
    top: 135px;
    left: 510px;
}

/* --------------------------------------------------------------------- */

.stats-value {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hp-value{
    top: 14px;
    left: 115px;
}

#atk-value{
    top: 14px;
    left: 370px;
}

#Satk-value{
    top: 14px;
    left: 610px;
}

#sp-value{
    top: 146px;
    left: 115px;
}

#def-value{
    top: 146px;
    left: 370px;
}

#Sdef-value{
    top: 145px;
    left: 610px;
}